:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --theme-color: #d00c0c;
  --bg-theme-color: #f0b6b6;
  --accent-color: #00008B;
  --bg-accent-color: #cccce7;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
